body {
    margin: 0;
    background-color: lightblue;
}

h1 {
    text-align: center;
}

#navbar {
    list-style-type: none;
    overflow: hidden;
    background-color: steelblue;
    margin: 0;
    padding: 0 15px;
    border-bottom: 4px solid blue;
}

[type="checkbox"],
label {
    display: none;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navbar li {
    float: left;
}

#navbar li a {
    display: block;
    color: white;
    text-align: center;
    margin: 30px 0;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar .account {
    float: right;
}

#navbar .account svg {
    display: none;
    width: 70px;
    height: 70px;
    margin: 14px 16px;
}

#navbar .account svg:hover {
    margin: 14px 16px;
    filter: brightness(50%);
}

/* Change the link color to #111 (black) on hover */
#navbar li a:hover {
    background-color: blue;
}

.events {
    margin: 20px 20px;
    border-top: 2px solid black;
}

.event_card {
    /* Add shadows to create the "card" effect */
    display: flex;
    flex-wrap: wrap;
    margin: 15px 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    height: 600px;
    justify-content: space-between;
    align-items: flex-start;
    align-content: center;
    background-color: lightskyblue;

}

.event_card img {
    background-color: white;
    display: block;
    max-width: 400px;
    max-height: 490px;
    margin: 5px 5px 100px;
    width: 150%;
    height: auto;
}

/* On mouse-over, add a deeper shadow */
.event_card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.left_side {
    padding: 2px 16px;
    max-width: 50%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.right_side {
    padding: 2px 16px;
    max-width: 50%;
    max-height: 100%;
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: stretch;
    align-items: center;
}

.button {
    position: relative;
    bottom: 50px;
    left: 100px;
    box-shadow:inset 0 1px 0 0 lightblue;
    background: blue linear-gradient(to bottom, blue 5%, darkblue 100%);
    border-radius:11px;
    border:2px solid lightskyblue;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family: Arial, serif;
    font-size:16px;
    font-weight:bold;
    padding:8px 18px;
    text-decoration:none;
    text-shadow:0 1px 0 steelblue;
}

.button:hover {
    background: darkblue linear-gradient(to bottom, darkblue 5%, blue 100%);
}

.button:active {
    position:relative;
    bottom:49px;
}

.rules > ol {
    list-style: upper-roman;
    text-align: left;
    font-weight: bold;
    font-size: 25px;
    margin-left: 50px;
}

.rules > ol ul {
    padding-left: 25px;
    padding-bottom: 10px;
    list-style-type: none;
    font-weight: normal;
}

.rules > ol ul ol {
    font-family: "Bell MT", serif;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 50px;
    font-weight: normal;
}

.rules img {
    margin:2px;
    border-radius:7px;
    display: block;
    max-width:40%;
    height:auto;
    width:40%;
}

@media screen and (max-width: 700px) {
    #navbar {
        height: 60px;
        border: none;
    }

    #navbar li {
        float: none;
        display: block;
        border-top: 1px steelblue solid;
        border-bottom: 1px steelblue solid;
    }

    #navbar li a {
        margin: 0;
    }

    #navbar .account svg {
        margin-left: calc(50% - 35px);
        margin-right: calc(50% - 35px);
    }

    #navbar .account svg:hover {
        margin-left: calc(50% - 35px);
        margin-right: calc(50% - 35px);
        filter: brightness(50%);
    }

    #navbar .account {
        float: none;
    }

    nav ul {
        display: none;
        border: 2px blue solid;
    }
    label {
        display: block;
        background: blue;
        width: 40px;
        height: 40px;
        cursor: pointer;
        position: absolute;
        left: 20px;
        top: 10px;
    }
    label:after {
        content: '';
        display: block;
        width: 30px;
        height: 5px;
        background: #777;
        margin: 7px 5px;
        box-shadow: 0 10px 0 #777, 0 20px 0 #777
    }
    [type="checkbox"]:checked ~ ul {
        display: block;
        z-index: 9999;
        position: absolute;
        right: 1px;
        left: 0;
        top: 60px;
    }

    [type="checkbox"]:checked ~ ul * {
        display: block;
        border: 0;
        z-index: 9999;
        position: relative;
    }

    nav a {
        color: #777;
    }
    nav ul li {
        display: block;
        float: none;
        width: 100%;
        text-align: left;
        background: steelblue;

    }
    nav > ul > li {
        margin-left: 0;
    }

    .rules > ol {
        list-style: upper-roman;
        text-align: left;
        font-weight: bold;
        font-size: 25px;
        margin-left: 30px;
        margin-right: 10px;
    }

    .rules > ol ul {
        padding-left: 0;
        padding-bottom: 10px;
        list-style-type: none;
        font-weight: normal;
    }

    .rules > ol ul ol {
        font-family: "Bell MT", serif;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 20px;
        font-weight: normal;
    }

    .rules img {
        margin:2px;
        border-radius:7px;
        display: block;
        max-width:90%;
        height:auto;
        width:90%;
    }
}

@media screen and (max-width: 1000px) {
    .event_card {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
    }

    .button {
        bottom: 50px;
        left: 0;
    }
}